.nav {
  position: fixed;
  display: flex;
  top: 10px;
  justify-content: space-between;
  width: 100%;
  object-fit: contain;
  padding: 20px;
  z-index: 1;
}
.nav__icon {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 60px;
  object-fit: contain;
}
